h1 { color : #8f8f2f; font-family : Arial; }
.highlight { background-color: #ffffaa; color: #000000; }
.notice { color : #1f8f1f; }
.invert { background-color: #000000; color: #ffffff; }
.warning { color: #cc5555; }

